{% extends 'diary/base.html' %}
{% load widget_tweaks %}

{% block title %}Вход{% endblock %}

{% block content %}
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h1 class="mx-auto text-3xl font-extrabold text-indigo-600">📘My Qalam</h1>
    <h2 class="mt-10 text-center text-2xl font-bold tracking-tight text-gray-900">Войдите в свой аккаунт</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form method="post" action="{% url 'login' %}" class="space-y-6">
      {% csrf_token %}
      <div>
        <label for="id_username" class="block text-sm font-medium text-gray-900">Имя пользователя</label>
        <div class="mt-2">
          <input type="text" name="username" id="id_username" required autocomplete="username" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:outline-indigo-600 sm:text-sm" />
        </div>
      </div>

      <div>
        <label for="id_password" class="block text-sm font-medium text-gray-900">Пароль</label>
        <div class="mt-2">
          <input type="password" name="password" id="id_password" required autocomplete="current-password" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:outline-indigo-600 sm:text-sm" />
        </div>
      </div>

      <div>
        <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
          Войти
        </button>
      </div>
    </form>

    <p class="mt-10 text-center text-sm text-gray-500">
      Или
      <a href="{% url 'register' %}" class="font-semibold text-indigo-600 hover:text-indigo-500">зарегистрируйтесь</a>
    </p>
  </div>
</div>
{% endblock %}
